<%- include('../master/head.ejs') %>
    
<div class="row">
    <div class="col-md-8">

        <h2 class="text-center p-4">Login</h2>

        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <div style="color: red;">
                <ul>
                    <% errors.forEach(error => { %>
                        <li><%= error.msg %></li>
                    <% }); %>
                </ul>
            </div>
        <% } %>


        <% if (flash_msg) { %>
            <!-- <div class="<%= 'alert alert-' + flash_alert %>" > -->
            <div class="alert alert-<%= flash_alert %>" >
              <%= flash_keyword %>
              <%= flash_msg %>
            </div>
        <% } %>
        
        <form action="/login" method="post" autocomplete="off" id="admin-login">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

            <div class="mb-3 mt-3">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" placeholder="enter your email" name="email" required>
            </div>

            <div class="mb-3 mt-3">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="enter password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>
</div>


<%- include('../master/tail.ejs') %>
